
/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*COMMON*/
body {
    background-color: rgb(0, 59, 78);
}

h1 {
    color: white;
    text-align: center;
    margin: 1.5rem 0;
    font-size: 50px;
}

/*Number container*/
.numbers-container {
    width: 80%;
    margin: 0 auto;
}

.number-list{
    color: white;
    font-size: 20px;
}

/*.box {
    width: 80px;
    height: 80px;
    background-color: rgb(0, 130, 179);
    margin: 10px;
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}*/

